* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -ms-content-zooming: none;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    overflow: hidden;
}

*:focus {
outline: none;
}

.line {
    width: 100%;
    height: auto;
    position: relative;
    font-family: 'Lato', 'Gill Sans', sans-serif;
    color: #ffffff;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 1;
}

.bakerloo {
    background-color: #B36305;
}

.central {
    background-color: #E32017;
}

.circle {
    background-color: #FFD300;
}

.district {
    background-color: #00782A;
}

.hammersmith-city {
    background-color: #F3A9BB;
}

.jubilee {
    background-color: #A0A5A9;
}

.metropolitan {
    background-color: #9B0056;
}

.northern {
    background-color: #000000;
}

.piccadilly {
    background-color: #003688;
}

.victoria {
    background-color: #0098D4;
}

.waterloo-city {
    background-color: #95CDBA;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #ededed;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.14);
    position: fixed;
    z-index: 100;
}
.lines-wrapper {
    overflow: hidden;
    position: relative;
    top: 60px;
}

.logo {
    width: 30px;
    height: 30px;
    display: block;
    -webkit-filter: grayscale(1) contrast(0);
    position: relative;
    top: 15px;
    margin: 0 auto;
}

.settings {
    width: 30px;
    height: 30px;
    position: absolute;
    display: block;
    margin-top: 15px;
    margin-left: 20px;
}

body {
    background-color: #ededed;
}

.add {
    width: 30px;
    margin-top: -15px;
    margin-right: 20px;
    float: right;
}

.status {
    visibility: hidden;
    width: 30px;
    height: 30px;
    -webkit-filter: invert(100%);
    margin-top: 5px;
    margin-right: 40px;
    float: right;
}

.line:focus .details{
    max-height: 200px;
    padding-top: 15px;
}

.details {
    width: 100%;
    max-height: 0px;
    height: auto;
    overflow: hidden;
    position: relative;
    padding-top: 0px;
    left: -20px;
    -webkit-transition: max-height 0.5s, padding-top 0.5s;
	-moz-transition: max-height 0.5s, padding-top 0.5s;
	transition: max-height 0.5s, padding-top 0.5s;
}

h1 {
    width: 162px;
    height: auto;
    position: relative;
    font-family: 'Lato', 'Gill Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: thin;
}

h2 {
    width: 40%;
    height: 100px;
    font-family: 'Arial' 'Gill Sans' sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 20px;
    color: #ffffff;
    float: right;
    margin-top: -54px;
    margin-right: 20px;
}
.wrapper {
    min-width: 400px;
    max-width: 470px;
    margin: 0 auto;
    overflow: hidden;
}
